* {
  margin: 0;
}

#main {
  position: relative;
  width: 100%;
}






/* -----------------------------------------------------VIDEO BACKGROUND SECTION------------------------------------------------------ */

#BackgroundVideo {
  width: 100vw;
  min-width: 1800px;
}

#VideoWraper {
  width: 100%;
  display: fixed;
  position: absolute;
  top: 0;
  z-index: -10;
overflow: hidden;
}









/* -----------------------------------------------------LOGO OPENING SECTION------------------------------------------------------ */

#MenuHome {
  background-color: #40C552;
}

#logoSection {
  width: 100%;
  height: 100vh;
  position: relative;
  pointer-events: none;
}

#logoSection img {
  width: 40vw;
  min-width: 700px;
position: absolute;
bottom: 5vw;
left: 5vw;
}

#selected {
  color: white;
}









/* -----------------------------------------------------TRAILER SECTION------------------------------------------------------ */

#TrailerSection {
  display: grid;
  grid-template-columns: 37vw 1fr;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 22vw;
  margin-top: 100px;
}


#trailer {
  position: relative;
}

#trailer img {
  margin-top: -1.7vw;
  margin-left: -1.8vw;
  width: 40vw;
  height: 25vw;
  pointer-events: none;
}

iframe {
  width: 37vw;
  height: 22vw;
}

#videoframe {
position: absolute;
}

#gameinfo {
  margin-left: 3vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
}

h1 {
  font-family: bellbold;
  font-weight: normal;
  font-size: 3vw;
}

#gameinfo p {
  margin-top: 20px;
  font-family: liberation;
  font-size: 1vw;
}


#devider {
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: 15vw;
  margin-right: 15vw;
height: 0.2vw;
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,0) 100%);
}





















/* -----------------------------------------------------NEWSLETTER SECTION----------------------------------------------------- */

#signupSection {
  display: flex;
  flex-direction: column;
  align-items: center;
 text-align: center;
}

#signupSection p {
  font-family: bellbold;
  font-weight: normal;
  font-size: 2vw;
  color: white;
  margin-bottom: 10px;
}

#inputWraper {
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.349);
    height: 2vw;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    align-items: center;
    border-radius: 40px;


}

input {
  width: 30vw;
  background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    height: 2vw;
    font-size: 1.5vw;
    color:white;
}




::placeholder{
  font-family: liberation;
  color: white;
  font-size: 1.5vw;
  opacity: 50%;
}


#buttonsignup {
  margin-right: -1vw;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.349);
  padding: 0.5vw;
  height: 2vw;
  width: 2vw;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.2s ease;
}


#buttonsignup:hover {
  transform: scale(0.8)
}



#buttonsignup img {
  margin-left: 0.5vw;
  height: 1.5vw;
}

















/* -----------------------------------------------------CLASSES SECTION----------------------------------------------------- */

#ClassesSection {
  margin-top: 80px;
  position: relative;
}

#slide {
  width: 100%;
  position: absolute;
}


#backgroundClasswraper {
  width: 100%;
  position: absolute;
  z-index: -5;
overflow: hidden;
}


#backgroundClass {
  width: 100vw;
  min-width: 1800px;
  height: 29vw;
  background-image: url("../assets/index/backgoundclasses.png");
}

















/* -----------------------------------------------------FOOTER----------------------------------------------------- */

footer {
  margin-top: 28vw;
  padding-top: 1vw;
  background-color: #F96C35 ;
  position: absolute;
  width: 100%;
  height: 15vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 15vw;
  padding-right: 15vw;
  box-sizing: border-box;
color: white;
}

#footerSocialMedia {
  margin-top: 3vw;
  font-family: liberationbold;
  font-size: 1.2vw;
}

#footerSocialMedia img {
  margin-top: 0.5vw;
  height: 1.2vw;
  margin-right: 0.5vw;
}

#footerCompany {
  text-align: center;
  font-family: liberation;
  font-size: 0.8vw;
}
#footerCompany img {
height: 3vw;
margin-bottom: 0.5vw;
}

#footerMenu {
  margin-top: 3vw;
  font-family: liberationbold;
  text-align: right;
  font-size: 1.2vw;
}

#footerMenu p {
  margin-bottom: 0.5vw;
}